<h2>Hello <%= @user.short_name %>!</h2>
<div class="habit-info">
  <p>The habits you are currently building are:</p>
  <ul>
    <%= render partial: "habits/habit", collection: @habits %>
  </ul>
</div>