<img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1600384017000/photosp/d00a0330-3cef-4dc9-8170-e80b33057a39/stock-photo-determination-inspiration-inspirational-habit-routine-habits-good-habits-daily-routine-never-quit-d00a0330-3cef-4dc9-8170-e80b33057a39.jpg" alt="placeholder" class="welcome-image">
<h2>
  Welcome
  <% if user_signed_in? %>
    <%= "back, #{current_user.short_name}" %>
  <% else %>
    to Habit Builder! Please sign in or sign up to start building habits
  <% end %>
  !
</h2>
