<img src="../../assets/summit.jpeg" alt="mountain summit" class="img-responsive">
<h2 class="d-flex justify-content-center">
  Welcome
  <% if user_signed_in? %>
    <%= "back, #{current_user.short_name}! You can do hard things!" %>
  <% else %>
    to Habit Builder! Please sign in or sign up to start building habits!
  <% end %>
</h2>
