<div class="goal-info unachieved">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="my-3">Your in-progess goals:</h2>
    <%= link_to "Back", :back, class: "btn btn-sm btn-primary" %>
  </div>
  <div class="goal-cards d-flex flex-wrap unachieved">
    <%= render @unachieved_goals %>
  </div>
</div>
<div class="goal-info achieved">
  <h2>Your completed goals:</h2>
  <div class="goal-cards d-flex flex-wrap achieved">
    <%= render @achieved_goals %>
  </div>
</div>
